.Background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .Main {
    width: 100%;
    background-color: white;
    margin: 60px auto 0;
    padding-top: 20px;
    position: relative;
    .Container {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      .Intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .Pfp {
          width: 200px;
          border-radius: 50%;
          margin-bottom: 20px;
          -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
        }
        h1 {
          display: flex;
          justify-content: center;
        }
        .Pronouns {
          margin-bottom: 20px;
          color: rgb(102, 102, 102);
        }
        .Title {
          font-size: 20px;
          font-weight: 700;
          padding-top: 10px;
          margin: 0px 10px 0px 10px;
          border-top: 2px solid black;
        }
        p {
        }
      }
      .Introduction {
        margin: 20px;
        padding: 20px;
        background-color: #f4f8ff;
        h3 {
          margin-bottom: 10px;
        }
      }
      .Skills {
        padding: 20px;
        h2 {
          margin-bottom: 20px;
        }
        .ContentContainer {
          display: flex;
          justify-content: space-between;
          column-gap: 40px;
          row-gap: 40px;
          flex-wrap: wrap;
          .SkillsContainer {
            h3 {
              border-bottom: 2px solid black;
              padding-bottom: 10px;
            }
            .SkillContainer {
              width: 300px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;
              .SkillBarBackground {
                width: 200px;
                height: 16px;
                background-color: lightgray;
                position: relative;
                z-index: 1;
                .Twenty {
                  position: absolute;
                  display: inline-block;
                  top: 0;
                  left: 0;
                  width: 40px;
                  height: 16px;
                  background-color: cornflowerblue;
                  z-index: 2;
                }
                .Fourty {
                  @extend .Twenty;
                  width: 80px;
                }
                .Sixty {
                  @extend .Twenty;
                  width: 120px;
                }
                .Eighty {
                  @extend .Twenty;
                  width: 160px;
                }
              }
            }
          }
        }
      }
      .Certifications {
        padding: 20px;
        .Certification {
          border: 2px solid rgb(138, 138, 138);
          border-radius: 10px;
          padding: 16px;
          margin-top: 20px;
          -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
          p {
            margin-top: 5px;
          }
          b {
            font-size: 20px;
          }
          &:hover {
            border: 2px solid black;
            transition: 0.2s;
          }
        }
        p {
          margin-top: 20px;
          color: rgb(63, 63, 63);
        }
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .Background {
    margin-left: 5px;
    .Main {
      max-width: 1100px;
      .Container {
        .Intro {
          .Pfp {
            width: 300px;
          }
        }
        .Introduction {
          margin: 20px 40px;
        }
        .Skills {
          margin: 20px 40px;
        }
        .Certifications {
          margin: 20px 40px;
        }
      }
    }
  }
}
