.Container {
  width: 100%;
  z-index: 0;
  .Swiper {
    width: 360px;
    height: 360px;
    .ImgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 768px) {
  .Container {
    .Swiper {
      width: 700px;
      height: 500px;
      .ImgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .Container {
    .Swiper {
      width: 900px;
      height: 700px;
      .ImgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
