#DarkTheme {
  background-color: rgba(48, 70, 143, 0.6);
  .Container {
    .Navbar {
      background-color: rgba(101, 113, 155, 0.8);
      li:hover > a {
        border-bottom: 2px solid rgb(255, 255, 255);
      }
    }
    .OpenedNavbar {
      @extend .Navbar;
      transform: scale(1, 1);
      color: white;
    }
  }
}
.Overlay {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  height: 60px;
  background-color: rgba(132, 211, 231, 0.7);
  position: relative;
  z-index: 3;
  transition: 0.3s;
  .Container {
    margin: 0px auto;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .BtnGroup {
      display: flex;
      column-gap: 20px;
      .MoonIcon {
        fill: white;
        &:hover {
          cursor: pointer;
        }
      }
      .SunIcon {
        @extend .MoonIcon;
      }
      .Menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        transform: scale(1);
        width: 40px;
        .Line {
          fill: none;
          stroke: white;
          stroke-width: 6;
          transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .Line1 {
          @extend .Line;
          stroke-dasharray: 60 207;
          stroke-width: 6;
        }
        .Line2 {
          @extend .Line;
          stroke-dasharray: 60 60;
          stroke-width: 6;
        }
        .Line3 {
          @extend .Line;
          stroke-dasharray: 60 207;
          stroke-width: 6;
        }
      }
      .OpenedMenu {
        @extend .Menu;
        .Line1 {
          @extend .Line;
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }
        .Line2 {
          @extend .Line;
          stroke-dasharray: 1 60;
          stroke-dashoffset: -30;
          stroke-width: 6;
        }
        .Line3 {
          @extend .Line;
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }
      }
    }
    .BlogTitle {
      position: absolute;
      font-size: 20px;
      font-weight: 700;
      left: 50%;
      top: 18px;
      transform: translateX(-50%);
    }
    .Navbar {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      column-gap: 16px;
      font-size: 16px;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
      li:hover > a {
        border-bottom: 2px solid black;
      }
      // .Projects:hover ~ .ProjectsContainer {
      //   opacity: 1;
      //   visibility: visible;
      // }
      // .Projects:hover > a {
      //   border-bottom: 2px solid white;
      // }
    }
    .OpenedNavbar {
      @extend .Navbar;
      transform: scale(1, 1);
      color: black;
    }
    .LanguageBtn {
      background-color: white;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 700;
      .Btn {
        display: inline-block;
        position: relative;
        text-align: center;
        transition: background-color 600ms ease, color 600ms ease;
        padding: 4px 2px;
      }
      input[type='radio'] {
        display: none;
        & + label {
          width: 32px;
          cursor: pointer;
          &:hover {
            background: none;
            color: rgba(0, 0, 0, 0.8);
          }
          &:after {
            background: rgba(0, 0, 0, 0.8);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            // transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
          }
        }
        &.ToggleLeft + label {
          border-right: 0;
          &:after {
            left: 100%;
          }
        }
        &.ToggleRight + label {
          &:after {
            left: -100%;
          }
        }
        &:checked + label {
          cursor: default;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.8);
          transition: color 200ms;
          &:after {
            left: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Overlay {
    transition: 0.3s;
    height: 80px;
    padding: 20px;
    .Container {
      .BtnGroup {
        .Menu {
          transform: scale(1.4);
          width: 60px;
        }
        .MoonIcon {
          width: 32px;
        }
        .SunIcon {
          width: 32px;
        }
      }
      .BlogTitle {
        font-size: 32px;
      }
      .Navbar {
        top: 80px;
        font-size: 24px;
        column-gap: 20px;
        padding: 20px 40px;
      }
      .LanguageBtn {
        .Btn {
          padding: 10px;
        }
        input[type='radio'] {
          & + label {
            width: 50px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .Overlay {
    .Container {
      .Navbar {
        column-gap: 30px;
      }
      .MoonIcon {
        position: absolute;
        top: 24px;
        right: 180px;
      }
    }
  }
}
// .ProjectsContainer {
//   position: absolute;
//   top: 55px;
//   right: 120px;
//   font-size: 16px;
//   width: 136px;
//   height: 260px;
//   border-top: 0;
//   color: black;
//   visibility: hidden;
//   opacity: 0;
//   z-index: 0;
//   transition: 0.2s;
//   &:hover {
//     visibility: visible;
//     opacity: 1;
//   }
//   .ProjectsList {
//     margin-top: 25px;
//     padding: 15px 10px 20px 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     row-gap: 12px;
//     background-color: white;
//     -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
//     box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
//     li {
//       width: 100px;
//       text-align: center;
//     }
//     li:hover > a {
//       border-bottom: 2px solid black;
//     }
//   }
// }
